#map {
    height: 580px;
    width: 960px;
}

.country {
    fill: none;
    stroke: #000;
    stroke-width: 3;
}

.cantons {
  fill: none;
  stroke: #252525;
  stroke-width: 1;
}

.municipality-border {
  stroke: #000;
  stroke-width: .3;
}

.axis text {
    font: 10px sans-serif;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#key    {
    position: absolute;
    top:90px;
    left: 50px;
}