#densityMap {
    height: 580px;
}

.country {
    fill: none;
    stroke: #16103f;
    stroke-width: 2;
}

.cantons {
  fill: none;
  opacity: 0.7;
  stroke: #151515;
  stroke-width: 1;
}

.municipalities {
  fill : none;
  opacity: 0.7;
  stroke: #7F7F7F;
  stroke-width: .4;
}

.mainline {
    stroke: #000;
    stroke-width: 1px;
    shape-rendering: auto;
}

.selection {
    stroke: #444;
    stroke-width: 0.5;
    fill-opacity: .6;
    fill: #ff7518;
    shape-rendering: crispEdges;
}

.handle {
    stroke: none;
    fill: none;
}

.infoBox, [class*="-legend"] {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.timeline-axis text {
    font: 10px sans-serif;
}

.timeline-axis line, .timeline-axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis--grid .domain {
    fill: #c5e2f1;
    stroke: none;
}

.axis--grid line {
    fill: none;
    stroke: #0c3652;
    stroke-width: 2;
    shape-rendering: crispEdges;
}